spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rideshare_db
    username: postgres
    password: admin@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  main:
    allow-circular-references: true

server:
  port: 8080
